In [1]:
import pandas as pd
import os
import boto3
import numpy as  np
import pandas as pd
import json
import time
from multiprocessing.dummy import Pool

In [2]:
# setup
os.chdir('//FS2\RTO\\CIS-PD MUSC\decoded_forms')
client = boto3.client('athena', 
                      region_name='us-west-2')
user_id_pairings = pd.read_csv("videoID.csv")
form509 = pd.read_hdf("form509.h5")
print(form509)

     SubjectCode  SiteID            VisitNm   FormDate  Q10  Q11  Q12  Q13  \
0         1003.0  1313.0    2 Weeks: Time 0 2017-07-03  2.0  0.0  0.0  1.0
1         1003.0  1313.0   2 Weeks: Time 30 2017-07-03  1.0  0.0  0.0  0.0
2         1003.0  1313.0   2 Weeks: Time 60 2017-07-03  1.0  2.0  0.0  0.0
3         1003.0  1313.0   2 Weeks: Time 90 2017-07-03  0.0  0.0  0.0  0.0
4         1003.0  1313.0  2 Weeks: Time 120 2017-07-03  1.0  0.0  0.0  1.0
5         1003.0  1313.0  2 Weeks: Time 150 2017-07-03  1.0  1.0  0.0  0.0
6         1003.0  1313.0            1 Month 2017-07-24  1.0  1.0  0.0  0.0
7         1004.0  1332.0    2 Weeks: Time 0 2017-07-07  0.0  0.0  0.0  0.0
8         1004.0  1332.0   2 Weeks: Time 30 2017-07-07  0.0  0.0  0.0  0.0
9         1004.0  1332.0   2 Weeks: Time 60 2017-07-07  0.0  1.0  1.0  0.0
10        1004.0  1332.0   2 Weeks: Time 90 2017-07-07  0.0  0.0  1.0  0.0
11        1004.0  1332.0  2 Weeks: Time 120 2017-07-07  0.0  0.0  0.0  0.0
12        1004.0  1332.0  2 Weeks: Time 150 2017-07-07  0.0  1.0  1.0  0.0
13        1004.0  1332.0            1 Month 2017-07-18  0.0  0.0  0.0  0.0
14        1005.0  1313.0    2 Weeks: Time 0 2017-07-03  0.0  0.0  0.0  0.0
15        1005.0  1313.0   2 Weeks: Time 30 2017-07-03  0.0  0.0  0.0  0.0
16        1005.0  1313.0   2 Weeks: Time 60 2017-07-03  0.0  0.0  0.0  0.0
17        1005.0  1313.0   2 Weeks: Time 90 2017-07-03  0.0  0.0  0.0  0.0
18        1005.0  1313.0  2 Weeks: Time 120        NaT  NaN  NaN  NaN  NaN
19        1005.0  1313.0  2 Weeks: Time 150 2017-07-03  0.0  0.0  0.0  2.0
20        1005.0  1313.0            1 Month        NaT  NaN  NaN  NaN  NaN
21        1007.0  1313.0    2 Weeks: Time 0 2017-07-07  0.0  0.0  0.0  0.0
22        1007.0  1313.0   2 Weeks: Time 30 2017-07-07  0.0  0.0  0.0  0.0
23        1007.0  1313.0   2 Weeks: Time 60 2017-07-07  0.0  0.0  0.0  0.0
24        1007.0  1313.0   2 Weeks: Time 90 2017-07-07  0.0  0.0  0.0  0.0
25        1007.0  1313.0  2 Weeks: Time 120 2017-07-07  0.0  0.0  0.0  0.0
26        1007.0  1313.0  2 Weeks: Time 150 2017-07-07  0.0  0.0  0.0  0.0
27        1009.0  1313.0    2 Weeks: Time 0 2017-07-10  1.0  0.0  0.0  2.0
28        1009.0  1313.0   2 Weeks: Time 30 2017-07-10  0.0  0.0  0.0  1.0
29        1009.0  1313.0   2 Weeks: Time 60 2017-07-10  0.0  0.0  0.0  1.0
..           ...     ...                ...        ...  ...  ...  ...  ...
167       1052.0  1332.0    2 Weeks: Time 0 2018-02-08  0.0  0.0  0.0  0.0
168       1052.0  1332.0   2 Weeks: Time 30 2018-02-08  0.0  0.0  0.0  0.0
169       1052.0  1332.0   2 Weeks: Time 60 2018-02-08  0.0  0.0  0.0  0.0
170       1052.0  1332.0   2 Weeks: Time 90 2018-02-08  0.0  2.0  2.0  0.0
171       1052.0  1332.0  2 Weeks: Time 120 2018-02-08  0.0  1.0  1.0  0.0
172       1052.0  1332.0  2 Weeks: Time 150 2018-02-08  0.0  1.0  1.0  0.0
173       1053.0  1332.0    2 Weeks: Time 0 2018-02-28  0.0  0.0  0.0  0.0
174       1053.0  1332.0   2 Weeks: Time 30 2018-02-28  0.0  1.0  0.0  0.0
175       1053.0  1332.0   2 Weeks: Time 60 2018-02-28  0.0  0.0  0.0  0.0
176       1053.0  1332.0   2 Weeks: Time 90 2018-02-28  0.0  1.0  0.0  0.0
177       1053.0  1332.0  2 Weeks: Time 120 2018-02-28  0.0  1.0  0.0  0.0
178       1053.0  1332.0  2 Weeks: Time 150 2018-02-28  0.0  1.0  0.0  0.0
179       1054.0  1332.0    2 Weeks: Time 0 2018-02-28  0.0  0.0  0.0  0.0
180       1054.0  1332.0   2 Weeks: Time 30 2018-02-28  0.0  0.0  0.0  0.0
181       1054.0  1332.0   2 Weeks: Time 60 2018-02-28  0.0  0.0  0.0  0.0
182       1054.0  1332.0   2 Weeks: Time 90 2018-02-28  0.0  0.0  0.0  0.0
183       1054.0  1332.0  2 Weeks: Time 120 2018-02-28  0.0  0.0  0.0  0.0
184       1054.0  1332.0  2 Weeks: Time 150 2018-02-28  0.0  0.0  0.0  0.0
185       1055.0  1332.0    2 Weeks: Time 0 2018-03-01  0.0  0.0  0.0  3.0
186       1055.0  1332.0   2 Weeks: Time 30 2018-03-01  0.0  0.0  0.0  0.0
187       1055.0  1332.0   2 Weeks: Time 60 2018-03-01  0.0  0.0  0.0  0.0
188       1055.0  1332.0   2 Weeks: Time 90 2018-03-01  0.0  0.0  0.0  1.0
189       1055.0  1332.0  2 Weeks: Time 120 2018-03-01  0.0  0.0  0.0  1.0
190       1055.0  1332.0  2 Weeks: Time 150 2018-03-01  0.0  0.0  0.0  1.0
191       1056.0  1332.0    2 Weeks: Time 0 2018-03-08  0.0  2.0  0.0  2.0
192       1056.0  1332.0   2 Weeks: Time 30 2018-03-08  0.0  1.0  0.0  3.0
193       1056.0  1332.0   2 Weeks: Time 60 2018-03-08  0.0  0.0  0.0  3.0
194       1056.0  1332.0   2 Weeks: Time 90 2018-03-08  0.0  0.0  0.0  3.0
195       1056.0  1332.0  2 Weeks: Time 120 2018-03-08  0.0  1.0  0.0  0.0
196       1056.0  1332.0  2 Weeks: Time 150 2018-03-08  0.0  2.0  0.0  0.0

     Q14  Q18    ...         Q100      Q101      Q110      Q111      Q120  \
0    0.0  3.0    ...     00:15:50  00:16:20  00:17:42  00:18:08  00:19:34
1    0.0  1.0    ...     00:15:10  00:15:40  00:16:45  00:17:08  00:17:39
2    0.0  0.0    ...     00:14:40  00:15:10  00:16:16  00:16:40  00:17:23
3    0.0  0.0    ...     00:20:36  00:21:06  00:21:50  00:22:12  00:23:02
4    0.0  0.0    ...     00:10:00  00:10:30  00:10:50  00:11:14  00:12:18
5    0.0  0.0    ...     00:12:55  00:13:25  00:14:15  00:14:35  00:15:10
6    0.0  1.0    ...     00:09:35  00:10:05  00:11:00  00:11:25  00:12:00
7    0.0  1.0    ...     00:10:34  00:11:04  00:11:53  00:12:28  00:13:08
8    0.0  1.0    ...     00:09:17  00:09:47  00:10:02  00:10:24  00:10:48
9    0.0  0.0    ...     00:07:41  00:08:11  00:08:22  00:08:40  00:09:07
10   0.0  0.0    ...     00:08:19  00:08:49  00:09:00  00:09:24  00:09:40
11   0.0  0.0    ...     00:06:53  00:07:23  00:07:32  00:07:55  00:08:13
12   0.0  0.0    ...     00:06:47  00:07:17  00:07:25  00:07:47  00:08:01
13   0.0  0.0    ...     00:06:19  00:06:49  00:07:04  00:07:27  00:07:52
14   0.0  0.0    ...     00:13:45  00:14:15  00:15:45  00:16:15  00:17:30
15   0.0  2.0    ...     00:11:45  00:12:15  00:13:30  00:14:00  00:14:55
16   0.0  0.0    ...     00:17:55  00:18:25  00:19:15  00:19:47  00:20:45
17   0.0  0.0    ...     00:10:16  00:10:46  00:11:25  00:11:57  00:12:49
18   NaN  NaN    ...          NaN       NaN       NaN       NaN       NaN
19   0.0  0.0    ...     00:11:10  00:11:40  00:12:49  00:13:21  00:14:08
20   NaN  NaN    ...          NaN       NaN       NaN       NaN       NaN
21   0.0  0.0    ...     00:11:45  00:12:15  00:13:20  00:13:56  00:14:51
22   0.0  0.0    ...     00:11:00  00:11:30  00:12:10  00:12:45  00:13:25
23   0.0  0.0    ...     00:09:33  00:10:03  00:11:03  00:11:33  00:12:03
24   0.0  0.0    ...     00:08:47  00:09:17  00:10:07  00:10:32  00:11:10
25   0.0  0.0    ...     00:07:55  00:08:25  00:09:05  00:09:37  00:10:20
26   0.0  0.0    ...     00:08:00  00:08:30  00:09:05  00:09:39  00:10:15
27   3.0  1.0    ...     00:09:20  00:09:50  00:10:40  00:11:27  00:12:01
28   2.0  0.0    ...     00:08:50  00:09:20  00:10:00  00:10:29  00:10:55
29   0.0  0.0    ...     00:09:00  00:09:30  00:10:35  00:11:18  00:11:50
..   ...  ...    ...          ...       ...       ...       ...       ...
167  0.0  1.0    ...     00:09:07  00:09:37  00:10:13  00:10:56  00:11:36
168  0.0  1.0    ...     00:07:30  00:08:00  00:08:19  00:09:04  00:09:29
169  0.0  0.0    ...     00:06:57  00:07:27  00:07:43  00:08:23  00:08:48
170  0.0  0.0    ...     00:07:20  00:07:50  00:08:07  00:08:44  00:09:10
171  0.0  0.0    ...     00:06:53  00:07:23  00:07:56  00:08:36  00:09:05
172  0.0  0.0    ...     00:06:35  00:07:05  00:07:20  00:08:04  00:08:28
173  0.0  1.0    ...     00:09:24  00:09:54  00:10:28  00:10:51  00:11:30
174  0.0  1.0    ...     00:06:50  00:07:20  00:07:38  00:08:00  00:08:31
175  0.0  0.0    ...     00:06:36  00:07:06  00:07:23  00:07:40  00:08:07
176  0.0  0.0    ...     00:06:43  00:07:13  00:07:35  00:07:56  00:08:25
177  0.0  0.0    ...     00:06:57  00:07:27  00:07:39  00:07:59  00:08:26
178  0.0  0.0    ...     00:07:02  00:07:32  00:07:56  00:08:10  00:08:45
179  0.0  3.0    ...     00:08:38  00:09:08  00:09:37  00:10:26  00:11:28
180  0.0  2.0    ...     00:07:57  00:08:27  00:08:56  00:09:50  00:10:45
181  0.0  0.0    ...     00:07:08  00:07:38  00:08:00  00:08:22  00:09:00
182  0.0  0.0    ...     00:07:04  00:07:34  00:07:51  00:08:16  00:08:35
183  0.0  0.0    ...     00:06:41  00:07:11  00:07:30  00:07:51  00:09:04
184  0.0  0.0    ...     00:05:48  00:06:18  00:06:26  00:06:50  00:07:11
185  1.0  0.0    ...     00:06:56  00:07:26  00:08:00  00:08:16  00:08:55
186  1.0  0.0    ...     00:07:46  00:08:16  00:08:35  00:08:59  00:09:27
187  2.0  0.0    ...     00:06:22  00:06:52  00:07:03  00:07:29  00:07:52
188  1.0  0.0    ...     00:06:37  00:07:07  00:07:24  00:07:39  00:08:08
189  0.0  0.0    ...     00:06:32  00:07:02  00:07:19  00:07:40  00:08:15
190  0.0  0.0    ...     00:06:36  00:07:06  00:07:23  00:07:50  00:08:16
191  2.0  1.0    ...     00:09:12  00:09:42  00:10:28  00:10:59  00:11:58
192  3.0  1.0    ...     00:07:06  00:07:36  00:08:08  00:08:44  00:09:15
193  3.0  2.0    ...     00:07:29  00:07:59  00:08:26  00:09:04  00:09:28
194  2.0  2.0    ...     00:07:03  00:07:33  00:08:00  00:08:43  00:09:07
195  2.0  1.0    ...     00:07:49  00:08:19  00:08:50  00:09:33  00:10:00
196  2.0  1.0    ...     00:07:07  00:07:37  00:07:53  00:08:46  00:09:18

         Q121      Q130      Q131      Q140      Q141
0    00:20:28  00:21:30  00:22:15  00:22:45  00:23:15
1    00:18:22  00:18:54  00:19:23  00:19:44  00:20:14
2    00:18:08  00:18:16  00:18:46  00:19:07  00:19:37
3    00:23:42  00:23:59  00:24:29  00:23:40  00:24:10
4    00:12:45  00:13:20  00:14:00  00:14:15  00:14:45
5    00:15:48  00:16:00  00:16:33  00:17:15  00:17:45
6    00:12:41  00:13:03  00:14:01  00:14:26  00:14:56
7    00:13:51  00:14:34  00:15:04  00:15:20  00:15:50
8    00:11:07  00:11:21  00:11:39  00:11:53  00:12:23
9    00:09:30  00:09:40  00:09:56  00:10:10  00:10:40
10   00:10:08  00:10:17  00:10:31  00:10:38  00:11:08
11   00:08:37  00:08:46  00:09:08  00:09:16  00:09:46
12   00:08:26  00:08:36  00:08:50  00:09:01  00:09:31
13   00:08:13  00:08:23  00:08:41  00:08:50  00:09:20
14   00:18:13  00:17:51  00:19:51  00:20:15  00:20:45
15   00:15:45  00:16:15  00:17:15  00:17:30  00:18:00
16   00:21:20  00:21:37  00:22:27  00:22:50  00:23:20
17   00:13:35  00:14:04  00:14:55  00:15:10  00:15:46
18        NaN       NaN       NaN       NaN       NaN
19   00:14:48  00:15:10  00:16:05  00:16:20  00:16:50
20        NaN       NaN       NaN       NaN       NaN
21   00:15:32  00:16:10  00:17:20  00:17:44  00:18:14
22   00:14:26  00:14:55  00:15:50  00:16:15  00:16:45
23   00:12:43  00:13:08  00:13:58  00:15:13  00:15:43
24   00:11:37  00:12:02  00:12:42  00:14:12  00:14:42
25   00:10:55  00:11:15  00:12:06  00:12:20  00:12:50
26   00:10:53  00:11:15  00:12:18  00:12:30  00:13:00
27   00:12:48  00:13:15  00:14:02  00:14:25  00:14:55
28   00:11:27  00:11:45  00:12:31  00:12:47  00:13:17
29   00:12:21  00:12:40  00:13:27  00:13:47  00:14:17
..        ...       ...       ...       ...       ...
167  00:12:29  00:13:16  00:14:00  00:14:15  00:14:45
168  00:10:11  00:10:41  00:11:16  00:11:26  00:11:56
169  00:09:20  00:09:42  00:10:16  00:10:26  00:10:56
170  00:09:42  00:10:00  00:10:32  00:10:40  00:11:10
171  00:09:31  00:09:52  00:10:20  00:10:26  00:10:56
172  00:08:48  00:09:01  00:09:39  00:09:45  00:10:15
173  00:11:51  00:12:33  00:12:51  00:13:10  00:13:40
174  00:09:02  00:09:19  00:09:55  00:10:10  00:10:40
175  00:08:36  00:08:54  00:09:16  00:09:32  00:10:02
176  00:08:46  00:09:00  00:09:25  00:09:38  00:10:08
177  00:08:48  00:09:05  00:09:28  00:09:42  00:10:12
178  00:09:05  00:09:26  00:09:51  00:10:03  00:10:33
179  00:12:42  00:13:30  00:14:30  00:14:45  00:15:15
180  00:11:32  00:11:57  00:12:36  00:12:44  00:13:14
181  00:09:40  00:10:01  00:10:36  00:10:40  00:11:10
182  00:09:04  00:09:23  00:09:51  00:10:00  00:10:30
183  00:09:46  00:10:00  00:10:32  00:10:37  00:11:07
184  00:07:31  00:07:44  00:08:12  00:08:17  00:08:47
185  00:09:20  00:09:59  00:10:23  00:10:34  00:11:04
186  00:09:49  00:10:10  00:10:42  00:10:55  00:11:25
187  00:08:17  00:08:41  00:09:15  00:09:25  00:09:55
188  00:08:31  00:08:50  00:09:30  00:09:40  00:10:10
189  00:08:41  00:09:05  00:09:49  00:10:00  00:10:30
190  00:08:40  00:08:58  00:09:30  00:09:45  00:10:15
191  00:12:27  00:13:00  00:13:50  00:14:02  00:14:32
192  00:09:52  00:10:20  00:11:20  00:11:41  00:12:11
193  00:10:05  00:10:24  00:11:30  00:11:55  00:12:25
194  00:10:05  00:10:30  00:11:30  00:11:40  00:12:10
195  00:10:40  00:11:03  00:12:00  00:12:10  00:12:40
196  00:09:53  00:10:16  00:10:54  00:11:00  00:11:30

[197 rows x 151 columns]

In [3]:
paginator = client.get_paginator('get_query_results')

In [4]:
# get the 4 digit user_id from the corresponding 6 digit user_id
def user_id_6_to_4(user_id_6):
    for index, row in user_id_pairings.iterrows():
        if (row['Subj ID Athena']==user_id_6):
            return int(row['SubjectCode'])
    return None

In [5]:
# get the 6 digit user_id from the corresponding 4 digit user_id
def user_id_4_to_6(user_id_4):
    for index, row in user_id_pairings.iterrows():
        if (row['SubjectCode']==user_id_4):
            return int(row['Subj ID Athena'])
    return None

In [6]:
# generate query from row in form509
def generate_query(row):
    template1 = "SELECT *\nFROM watch_accelerometer\nwhere experiment = 'Clinicians'\nand user_id = "
    template2 = "\nand timestamp >= timestamp '"
    template3 = "'\nand timestamp <= timestamp '"
    template4 = "'"
    
    user_ID_4 = row['SubjectCode']
    
    user_ID_6 = user_id_4_to_6(user_ID_4).__str__()
    
    time = row['Q146_UTC']
    startTime =  (time - pd.Timedelta('00:15:00')).__str__()
    endTime = (time + pd.Timedelta('00:45:00')).__str__()
    
    if startTime == "NaT" or endTime == "NaT":
        print("invalid time")
        return None
    query = template1 + user_ID_6 + template2 + startTime + template3 + endTime + template4
    return query

In [7]:
# call query
def call_query(query):
    database='clinician_input_study'
    output_location='s3://aws-athena-query-results-arunjayaraman-us-west-2/'
    encryption_option='SSE_S3'

    query_info = client.start_query_execution(
        QueryString=query, 
        QueryExecutionContext={ 
            'Database': database
        },
        ResultConfiguration={ 
            'OutputLocation': output_location,
            'EncryptionConfiguration': { 
                'EncryptionOption': encryption_option
            }
        }
    )
    return query_info

In [8]:
def removeVarCharValue(dct):
    if 'VarCharValue' in dct:
        return dct['VarCharValue']
    if 'Data' in dct:
        d = {}; val = dct['Data']
        for ind, name in zip(range(7), ['user_id', 'experiment', 'cohort', 'timestamp', 'x', 'y', 'z']):        
            d[name] = val[ind]
        return d 
    return dct

In [9]:
# return the results of the query associated with query_info
def get_query_results(query_info):
    query_id = query_info['QueryExecutionId']
    
    while True:
        try:
            page_iter = paginator.paginate(QueryExecutionId=query_id)
            results = []
            for page in page_iter:
                response = page['ResultSet']['Rows']
                results.append(response)
        except client.exceptions.InvalidRequestException:
            continue
        break
        
    results = list(np.concatenate(results))

#     while True:
#         try:
#             response = client.get_query_results(QueryExecutionId= query_id, MaxResults = 2000)
#         except client.exceptions.InvalidRequestException:
#             continue
#         break
    
#     results = pd.DataFrame(response)
#     print(response)
    
    # format the results
    if len(results)>1:
        columns_names = [list(d.values())[0] for d in results[0]['Data']]
        Data = pd.read_json(json.dumps(json.loads(json.dumps(results[1::]), object_hook=removeVarCharValue)))
        return Data
    else:
        return None

In [10]:
# get visit num from the visit information
def get_visit_num(VisitNm):
    if VisitNm.startswith("2 Weeks"):
        if VisitNm.endswith(" 0"):
            return '0'
        elif VisitNm.endswith("30"):
            return '1'
        elif VisitNm.endswith("60"):
            return '2'
        elif VisitNm.endswith("90"):
            return '3'
        elif VisitNm.endswith("120"):
            return '4'
        elif VisitNm.endswith("150"):
            return '5'
    else:
        return '6'

In [11]:
# fetch data for each row in form509
def iterate_over_form509():
    for index, row in form509.iloc[0:10,:].iterrows():
        t1 = time.time()
        id_4 = int(row['SubjectCode']).__str__()
        visit_num = get_visit_num(row['VisitNm'])
        path = "//FS2\RTO\\CIS-PD Study\MJFF Curation\ClinicVisitACC\\"
        filename = path + id_4 + "_session_" + visit_num + ".csv"
        
        query = generate_query(row)
        
        if (query is None):
            print("invalid query for subject "+ id_4 + " visit " + visit_num)
            continue
        
        query_info = call_query(query)
        query_results = get_query_results(query_info)
        
        if (query_results is None):
            print ("empty data for subject " + id_4 + " visit " + visit_num)
            continue
        print('done')
        t2 = time.time()
        print(t2-t1)
        # Testing runtime: don't overwrite files
#         query_results.to_csv(filename)

In [12]:
def poolIterate():
    t1 = time.time()
    queryList=[]
    for index, row in form509.iloc[0:10,:].iterrows():
        t1 = time.time()
        id_4 = int(row['SubjectCode']).__str__()
        visit_num = get_visit_num(row['VisitNm'])
        path = "//FS2\RTO\\CIS-PD Study\MJFF Curation\ClinicVisitACC\\"
        filename = path + id_4 + "_session_" + visit_num + ".csv"
        
        query = generate_query(row)
        
        if (query is None):
            print("invalid query for subject "+ id_4 + " visit " + visit_num)
            continue
        
        query_info = call_query(query)
        queryList.append(query_info)
        
    pool = Pool(4)
    pool.map(get_query_results, queryList)
    pool.close() 
    pool.join()
    t2 = time.time()
    print(t2-t1)

In [15]:
t1 = time.time()
queryList=[]
for index, row in form509.iloc[0:4,:].iterrows():
    t1 = time.time()
    id_4 = int(row['SubjectCode']).__str__()
    visit_num = get_visit_num(row['VisitNm'])
    path = "//FS2\RTO\\CIS-PD Study\MJFF Curation\ClinicVisitACC\\"
    filename = path + id_4 + "_session_" + visit_num + ".csv"

    query = generate_query(row)

    if (query is None):
        print("invalid query for subject "+ id_4 + " visit " + visit_num)
        continue

    query_info = call_query(query)
    queryList.append(query_info)

In [16]:
pool = Pool()
pool.map(get_query_results, queryList)
pool.close() 
pool.join()
t2 = time.time()
print(t2-t1)

77.98638892173767

In [12]:
# run
iterate_over_form509()

done
48.25500011444092
done
31.83899998664856
done
47.20900011062622
done
57.986000061035156
done
54.86400008201599
done
57.431999921798706
empty data for subject 1003 visit 6
done
51.02199983596802
done
60.15400004386902
done
59.05899977684021