# Activity list
Shaking
Standing
Walking
Walking while counting
Finger to nose--right hand
Finger to nose--left hand
Alternating right hand movements
Alternating left hand movements
Sit to stand
Drawing on a paper
Typing on a computer keyboard
Assembling nuts and bolts
Taking a glass of water and drinking
Organizing sheets in a folder
Folding towels
Sitting

# Clean subj 1030 cycle 1

In [5]:
cd z:\CIS-PD Videos\Cisnwh8

z:\CIS-PD Videos\Cisnwh8

In [7]:
import pandas as pd
import re

In [25]:
colnames = ['1','2','start frame','end frame','activity','6','cycle']
usecol = ['start frame','end frame','activity','cycle']
df = pd.read_csv('cycle1.csv', names = colnames, usecols=usecol)
df = df.dropna()
df['cycle'] += 1
df['cycle'] = pd.to_numeric(df['cycle'], downcast='integer')
df

   start frame  end frame                              activity  cycle
1         1118     2145.0                              Standing      1
2         2315     3333.0                               Walking      1
3         3608     4800.0                Walking while counting      1
4         5832     6518.0            Finger to nose--right hand      1
5         6518     7121.0             Finger to nose--left hand      1
6         7435     8029.0      Alternating right hand movements      1
7         8030     8688.0       Alternating left hand movements      1
8         9077     9343.0                          Sit to stand      1
9         9880    10973.0                    Drawing on a paper      1
10       11871    12990.0         Typing on a computer keyboard      1
12       13164    14391.0             Assembling nuts and bolts      1
13       15039    15950.0  Taking a glass of water and drinking      1
14       17075    18503.0         Organizing sheets in a folder      1
15       19059    20180.0                        Folding towels      1
16       20359    21813.0                               Sitting      1